#index_container {
  height: 200px;
}

#tonic,
#tonic_underline,
#tonic_tagline,
#buttons_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#tonic,
#tonic_underline {
  height: 50px;
  user-select: none;
}

#tonic_underline {
  color: #a7936e;
}

#tonic_tagline {
  height: 25px;
  gap: 5px;
}

#buttons_container {
  height: 75px;
  gap: 8px;
}

#login,
#logout {
  width: 100px;
}

#login {
  background-color: #706044;
  color: antiquewhite;
}

#login:hover {
  background-color: #8e7b56;
  border: 2px solid #8e7b56;
}

#submit_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

#submit_project {
  width: 220px;
  height: 40px;
  background-color: #706044;
  color: #e1decd;
  border: 3px solid #706044;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

#submit_project:hover {
  background-color: #8e7b56;
  border-color: #8e7b56;
}

/* ensure link inside button is bright yellow and not underlined */
#submit_project a {
  color: #ebe9dd !important;
  text-decoration: none;
}
